@using Microsoft.AspNet.Identity

<li class="dropdown js-my-account">
    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        @User.Identity.GetUserName() <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("My account", "MyAccount", "Account")</li>
        <li>
            <a href="#" class="js-sign-out" data-url=@Url.Action("SignOut","Account")>Sign Out</a>
        </li>
    </ul>
</li>