<ul class="nav navbar-nav navbar-right">
    <li>
        @using (Html.BeginForm("Search", "Search", FormMethod.Get, new { @class = "navbar-form" }))
        {
            <div class="form-group">
                <input type="text" class="form-control input-sm">
            </div>
            <button type="submit" class="btn btn-default btn-sm">Search</button>
        }
    </li>
    <li class="js-login-menu"></li>
    @if (Request.IsAuthenticated)
    {
        @Html.Partial("AuthenticatedNavbarPartial")
    }
    else
    {
        @Html.Partial("UnauthenticatedNavbarPartial")
    }
    <li><a href=@Url.Action("Index", "Cart")>My Cart <span class="badge js-cart-badge" data-url=@Url.Action("GetNumberOfProducts", "Cart")></span></a></li>
</ul>