body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.thumbnail-product {
    padding: 0px;
    margin-bottom: 5%;
}

.product-details {
    padding-top: 5%;
}

.img-brand {
    max-width: 100px;
}

.error {
    border-color: red;
}